<p id="notice"><%= notice %></p>

<h1>Listing Blog Sources</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_sources.each do |blog_source| %>
      <tr>
        <td><%= link_to 'Show', blog_source %></td>
        <td><%= link_to 'Edit', edit_blog_source_path(blog_source) %></td>
        <td><%= link_to 'Destroy', blog_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog source', new_blog_source_path %>
